*
	box-sizing border-box

@font-face
	font-family 'GnG'
	font-weight normal
	font-style normal
	src url('/fonts/ghouls_ghosts_and_goblins-_fontvir_us_.woff') format('woff')

html
	font-size 62.5%

body
	background black
	color GhostWhite
	font 1.8rem GnG

#arena
	max-width 400px
	margin 20px auto

h1
	color red
	text-align center
	margin 0

.header
	color yellow

.dev
	margin 4px
	text-transform lowercase

.streak
	float right