* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'League Gothic';
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/league_gothic.woff") format('woff');
}
html {
  font-size: 62.5%;
}
body {
  background: #000;
  color: #fff;
  font: 4rem 'League Gothic';
}
#arena {
  max-width: 400px;
  margin: 20px auto;
}
.dev {
  margin: 4px;
  text-align: center;
  text-shadow: 2px 2px #808080;
}
